/* Theme Variables */
:root {
  --bg-primary: #252a34; /* Dark mode background */
  --text-primary: #ffffff;
  --header-bg: #1a1d24;
}

.light {
  --bg-primary: #dee4e7; /* Light mode background */
  --text-primary: #1a1d24;
  --header-bg: #f8f9fa;
}

/* Apply theme variables */
body {
  color: var(--text-primary);
  transition: color 0.3s ease;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica', 'Arial', sans-serif;
  font-feature-settings: 'kern' 1, 'liga' 1;
  -webkit-font-feature-settings: 'kern' 1, 'liga' 1;
  -moz-font-feature-settings: 'kern' 1, 'liga' 1;
  -ms-font-feature-settings: 'kern' 1, 'liga' 1;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.line-limit-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blue-radial-gradient {
    background-image: radial-gradient(circle, rgba(7,64,91,1) 0%, rgba(19,39,57,1) 76%, rgba(16,20,34,1) 100%);
}